<template>
  <div>
    <div> сума {{ amount }} {{ clientId }} баксов </div>
    <button @click="add">Добавить 10 баксов</button>
  </div>
  <div v-if="!loaded">Loading</div>
  <div ref="paypal"></div>
</template>

<script setup>
  import { ref, onMounted } from "vue";
  import addPayPallScriptToBody from "@/addPayPallScriptToBody.js"; 
  
  const amount = ref(10);
  const loaded = ref(false);
  const paypal = ref(null);
  
  function addPayPallButtons() {
    window.paypal.Buttons({
            createOrder: (data,actions) => {
                return actions.order.create({
                    purchase_units: [
                        {
                            description: "some",
                            amount: {
                                currency_code: "USD",
                                value: amount
                            }
                        }
                    ]
                });
            },
            onApprove: async () => {
                console.log("готово")
            },
            onError: err => {
                console.log(err)
            }
        })
        .render(paypal.value)
    loaded.value = true
  }

  onMounted(()=>{
    addPayPallScriptToBody().then(addPayPallButtons);
  })

  function add() {
    amount.value = amount.value + 10;
  }

</script>

<style>
</style>
